<div class="sidebar" data-background-color="black" data-active-color="danger">
	<div id="" class="sidebar-wrapper">
        <div class="logo">
            <a href="/manage" class="simple-text">
                Manage Stock Data
            </a>
        </div>
        <ul id="sidenavList" class="nav">
            <li class="active">
                <a href="'/manage'">
                    <i :class="item.className"></i>
                    <p> Home <b class="caret"></b></p>
                </a>
                <div id="sd" class="collapse kon-collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <span class="sidebar-mini">
                                    <i class=""></i>
                                </span>
                                <span class="sidebar-normal">Home</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
        </ul>
	</div>
</div>
