click==6.7
feedparser==5.2.1
Flask==0.12.2
Flask-Tweepy==0.1
Flask-WTF==0.14.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
tweepy==1.8
virtualenv==15.0.3
Werkzeug==0.12.2
WTForms==2.1
Flask-MongoAlchemy==0.7.2
Flask-Script==2.0.6
python-dateutil==2.6.1
