<div id="feeds" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input placeholder="Search" class="form-control border-input"/>
            </div>
        </div>
    </div>
    <div class="row" v-for="item in feeds">
        <div class="col-md-12">
            <div class="card">
                <div class="header" style="padding: 20px;position:relative;" data-toggle="collapse" data-target="[['#'+item.title]]">
                    <h4 class="title">[[item.title]]</h4>
                    <div class="stats">
                        <i class="ti-timer"></i> [[item.timestamp]]
                    </div>
                    <i class="ti-angle-down" style="position: absolute;right: 25px;top: 25px;"></i>
                </div>
                <div class="collapse in" id="feed1">
                    <div class="content">
                        <p>[[item.summary]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>