<div class="sidebar" data-background-color="black" data-active-color="danger">
    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->
    	<div id="" class="sidebar-wrapper">
            <div class="logo">
                <a href="/dashboard" class="simple-text">
                    Kontinnum
                </a>

            </div>
            <ul id="sidenavList" class="nav">
                <li v-for="item in items" :class="{active: item.active}">
                    <a :href="'#'+item.id" data-toggle="collapse" v-on:click="setActive(item)">
                        <i :class="item.className"></i>
                        <p>[[item.title]] <b class="caret" v-if="item.subitems"></b></p>
                    </a>
                    <div :id="item.id" class="collapse kon-collapse" v-if="item.subitems">
                        <ul class="nav">
                            <li v-for="subitem in item.subitems" :class="{active: subitem.active}">
                                <a href="#" v-on:click="setActive(subitem)">
                                    <span class="sidebar-mini">
                                        <i :class="subitem.className"></i>
                                    </span>
                                    <span class="sidebar-normal">[[subitem.title]]</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>
    	</div>
    </div>