{% extends "base.html" %}
{% block head %}
    {% block title %} Dashboard {% endblock %}
    {{ super() }}
    <style type="text/css">
    </style>
{% endblock %}

{% block content %}
    
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Post to twitter</div>
                <div class="panel-body">
                    Twitter Form 
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Post to Facebook</div>
                <div class="panel-body">
                    Facebook Form 
                </div>
            </div>


        </div>
    </div>
        


  


    </div>

{% endblock %}
