<div class="sidebar" data-background-color="black" data-active-color="danger">
	<div id="" class="sidebar-wrapper">
        <div class="logo">
            <a href="/dashboard" class="simple-text">
                Kontinnum
            </a>
        </div>
        <ul id="sidenavList" class="nav">
            <li v-for="(item, idx) in items" :class="{active: item.id === activeView}">
                <a :href="'/dashboard/'+item.slug">
                    <i :class="item.className"></i>
                    <p>[[item.title]] <b class="caret" v-if="item.subitems"></b></p>
                </a>
                <div :id="item.id" class="collapse kon-collapse" v-if="item.subitems">
                    <ul class="nav">
                        <li v-for="subitem in item.subitems" :class="{active: subitem.id === activeSubitem.id}">
                            <a href="#" v-on:click="setActive(subitem, true, idx)">
                                <span class="sidebar-mini">
                                    <i :class="subitem.className"></i>
                                </span>
                                <span class="sidebar-normal">[[subitem.title]]</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
        </ul>
	</div>
</div>