
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.element {
  @include clearfix;
}

.navbar{
	background-color: #283593 !important;
	color:#fff !important;
}
.navbar-brand{
	color:#fff !important;

}
.fa-bars{
	color:#fff !important;
}
.nav-link{
	color:#fff !important;
	cursor: pointer;
}
.left-side-box,.middle-box{
	background: #fff;
    padding: 10px 20px 0px 20px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.left-side-box-header{
	    color: #888;
}
.left-side-box-header > i{
	background: #888;
    width: 26px;
    height: 26px;
    line-height: 16px;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
.left-side-box-header > span{
    line-height: 26px;
    margin-left: 5px;
    font-size: 16px;
    font-weight:500;
}
.left-side-box-header > a{
	color: #2196F3 !important;
    cursor: pointer;
}
.left-side-box-header > a:hover{
	text-decoration: underline !important;
}

.list-container{
	background-color:rgba(204, 204, 204, 0.27);
	padding:20px 0px;
}
.treding-item{
	font-size:14px;
	cursor: pointer;
}
.treding-item:hover{
	background-color: #dcdcdc;
}
.treding-item > span{
	padding:0px 0.5rem;
}
.green-sm-border{
	border-left:2px solid green;
}
.red-sm-border{
	border-left:2px solid red;
}
.btn{
	cursor:pointer;
}
.list-thumbnail{
    float: right;
    clear: right;
    margin: 3px 0 6px 6px;
}
.list-thumbnail>img{
	height:60px;
}
.list-group-item{
	border: none;
}
.bb-1{
    border-bottom:1px solid #dcdcdc !important;
}
.m-list{
	position: relative;
    margin: 0px;
    overflow: hidden;
    min-height: 50px;
}
.stock-item{
	cursor: pointer;
    background: #fff;
    color: #34445D;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
.company-name{
    font-size: 14px;
    font-weight: 500;
}
.updated-at{
    color: #828181;
}
.company-list{
    padding-left:10px;
}
.border-list-green{
    border-left:4px solid green;
}
.border-list-red{
    border-left:4px solid red;
}
.green{
    color:green;
}
.red{
    color:red;
}
.company-data > span{
    margin-right: 5px;
}
.watchers{
    font-size: 14px;
    font-weight: 500;
    color: #607D8B;
}
.company-stock-data > span:first-child{
    color: #fff;
    font-weight: 500;
    background-color: #03A9F4;
    padding: 2px 3px;
    font-size: 14px;
    border-radius: 2px;
}
.last-updated{
    font-weight: 500;
    color: darkgrey;
}
.info-color{
    color:#03A9F4;
}
.fw-500{
    font-weight:500;
}
.name-image{
    background-color: #9e9e9e87;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #dcdcdc;
    font-size: 16px;
    height: 30px;
    width:30px;
    padding: .2rem;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}
.login-signup-modal,.signup-login-modal{
    color: #2196F3;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}
.company-header{
    position: sticky;
    top:55px;
    background-color: #fff;
    z-index:20;
    background-color: #dcdcdc;
    box-shadow: 1px 2px 3px #ccc;
}
.base-content-header{
    overflow: hidden;
    text-align: left;
}

.base-content-header:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 80%;
}
.base-content-header:after {
    left: 0.5em;
    margin-right: -10%;
}
.comment_options {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex; 
}
.comment_options .custom-li {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #ccc;
    margin: 5px; 
}
.comment_options .custom-li:hover {
    background: #dcdcdc; 
    color:#fff;
    cursor:pointer;
}
.comment-image{
    border:1px solid #dcdcdc;
}
.parent-comment:hover{
    background-color: #9e9e9e2b
}
.child-media{
    border-left:3px solid transparent;
    background-color: #fff;
}
.child-media:hover{
    border-left: 3px solid #03A9F4;
    
}
.black-color{
    color:#000;
}
.active-watcher{
    font-size:18px;
    color:gold;
}
.unactive-watcher{
    font-size: 18px;
    color:#808080;
}
.f-14{
    font-size: 14px;
}

.tt-menu{
    background-color:#fff;
    box-shadow: 1px 2px 10px #dcdcdc;
    width:100%;
    color:#000;
    max-height: 400px;
    overflow-y: auto;
}
.option-wrapper{
    color: #000;
    text-decoration: none !important;
    padding: .25rem;
    position: relative;
    width: 100%;
    display: block;
}
.option-wrapper:hover{
    background-color:#9E9E9E;
    color:#fff;
}
.search{
    width:50%;
}
.tt-input,.twitter-typeahead{
    width:100%;
}
.tt-input{
    height: 40px;
    border: none;
    border-radius: 3px;
    padding: 0 .5rem;
    outline: 0 !important;
}
.pagination > .active > .page-link{
    color: #fff !important;
    background: #795548;
    border: 1px solid #ccc;
}
.pagination >.page-item >.page-link{
    color:#795548;
    text-decoration: none;
}

