{% macro commentlist(comments) %} {% for comment in comments %}
<div class="media p-2 col-12 parent-comment">
    <div class="mr-3 name-image">TS</div>
    <div class="media-body">
        <div class="row m-0 p-1">
            <h6 class="mt-0">Tarun Shahi</h6>
            <div class="ml-auto">
                <small>{{ comment.createdAt|timesince('Just Now') }}</small>
            </div>
        </div>
        <p>{{ comment.message }}</p>
        <img class="comment-image" src="http://www.excel-easy.com/examples/images/bar-chart/bar-chart.png" width="50%" />
        <div class="row m-0 p-2">
            <ul class="comment_options">
                <li title="like">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </li>
                <li title="Reply">
                    <a href="#collapseReplyform1" data-toggle="collapse" aria-expanded="false" aria-controls="collapseReplyform1">
                        <i class="fa fa-reply black-color"></i>
                    </a>
                </li>
                <li title="View Reply">
                    <a href="#commentReply1" data-toggle="collapse" aria-expanded="false" aria-controls="commentReply1">
                        <i class="fa fa-comments black-color"></i>count
                    </a>
                </li>
            </ul>
            <small class="ml-auto">3 likes</small>
        </div>
        <div id="collapseReplyform1" class="collapse">
            <form class="col-12 form-inline" name="reply">
                <div class="form-group w-100">
                    <textarea class="col-10 form-control" rows="2" name="replyContent"></textarea>
                    <div class="col-2">
                        <button class="btn btn-info btn-sm">reply</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row w-100 m-100 collapse" id="commentReply1">
            <div class="media p-2 m-3 child-media w-100" >
                <div class="mr-1 name-image">TS</div>
                <div class="media-body">
                    <div class="row m-0 p-1">
                        <h6 class="mt-0">Tarun Shahi</h6>
                        <div class="ml-auto">
                            <small>{{ comment.createdAt|timesince('Just Now') }}</small>
                        </div>
                    </div>
                    <p>this is text that allow you to checjkf hfdbkj jdfkkd jnfdkdk kjndkfd kjnkfnfdk</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="w-100"/>
{% endfor %} {% endmacro %}