{% macro commentlist(company, comments) %}
{% for comment in comments %}
<div class="media p-2 col-12 parent-comment">
    <div class="mr-3 name-image">{{ comment.user.name[0] }}</div>
    <div class="media-body">
        <div class="row m-0 p-0">
            <h6 class="my-1">{{ comment.user.name }}</h6>
            <div class="pl-2">
                <small>{{ comment.createdAt|timesince('Just Now') }}</small>
            </div>
        </div>
        <p class="m-0">{{ comment.message }}</p>
        {% if comment._attachment %}
        <img class="comment-image" src="{{ comment._attachment.selfLink }}" alt="http://www.excel-easy.com/examples/images/bar-chart/bar-chart.png" width="100%" />
        {% endif %}
        <div class="row m-0 p-2">
            <ul class="comment_options">
                <li class="my-auto">
                    <span class="f-14 fw-500">4 like</span>
                </li>
                <li class="custom-li" title="like">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </li>
                <li class="my-auto">
                    <span class="f-14 fw-500">4 reply</span>
                </li>
                <li class="custom-li" title="View Reply">
                    <a href="#commentReply{{ loop.index }}" data-toggle="collapse" aria-expanded="false" aria-controls="commentReply{{ loop.index }}">
                        <i class="fa fa-comments black-color"></i>
                    </a>
                </li>

                <li class="custom-li" title="Reply">
                    <a href="#collapseReplyform{{ loop.index }}" data-toggle="collapse" aria-expanded="false" aria-controls="collapseReplyform{{ loop.index }}">
                        <i class="fa fa-reply black-color"></i>
                    </a>
                </li>
                
            </ul>
            <!-- <small class="ml-auto">3 likes</small> -->
        </div>
        <div id="collapseReplyform{{ loop.index }}" class="collapse">
            <form class="col-12 form-inline" name="reply" method="POST" action="{{ url_for('home.reply', company_id=company.id, comment_id=comment.id) }}">
                <div class="form-group w-100">
                    <textarea class="col-10 form-control" rows="2" name="replyContent"></textarea>
                    <div class="col-2">
                        <button class="btn btn-info btn-sm">reply</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row w-100 m-100 collapse" id="commentReply{{ loop.index }}">
            {% if comment.replies|length > 0 %}
            {% for reply in comment.replies %}
            <div class="media p-2 ml-3 child-media w-100" >
                <div class="mr-1 name-image">{{ reply.user.name[0] }}</div>
                <div class="media-body">
                    <div class="row m-0 p-1">
                        <h6 class="mt-0">{{ reply.user.name }}</h6>
                        <div class="ml-auto">
                            <small>{{ reply.createdAt|timesince('Just Now') }}</small>
                        </div>
                    </div>
                    <p>{{ reply.message }}</p>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <div class="media p-2 m-3 child-media w-100" >
                 No replies
                </div>
            {% endif %}
        </div>
    </div>
</div>
<hr class="w-100 m-0"/>
{% endfor %} 
{% endmacro %}
