{% extends "base.html" %}
{% block head %}
    {% block title %} Dashboard {% endblock %}
    {{ super() }}
    <style type="text/css">
    </style>
{% endblock %}

{% block content %}
    <div class="wrapper">
    {% include 'partials/sidebar.html' %}

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p>Stats</p>
                            </a>
                        </li>-->
						<li>
                            <a href="#">
								<i class="ti-settings"></i>
								<p>Settings</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div id="appContent" class="content">
            <component :is="currentView"></component>
            <!-- <feeds-list></feeds-list> -->
            <!-- <tweets-list></tweets-list> -->
        </div>

    </div>
</div>

<!-- Feeds -->
<template id="feedslist">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input placeholder="Search" class="form-control border-input"/>
                </div>
            </div>
        </div>
        <div class="row" v-for="item in feeds">
            <div class="col-md-12">
                <div class="card">
                    <div class="header" style="padding: 20px;position:relative;" data-toggle="collapse" :data-target="'#'+item.id">
                        
                        [[ item ]]
                        
                        
                        <h4 class="title" v-html="item.handle"></h4>
                        <div class="stats">
                            <i class="ti-timer"></i> [[item.timestamp]]
                        </div>
                        <a href="#" style="position: absolute;right: 25px;top: 25px;">Summary</a>
                    </div>
                    <div class="collapse" :id="item.id">
                        <div class="content">
                            <p v-html="item.tweet"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<!-- Tweets -->
<template id="tweetslist">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input placeholder="Search @mentions, #tags..." class="form-control border-input" v-model="searchText"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header" style="padding: 20px;position:relative;">
                        <h4 class="title">#IndianPolitics</h4>
                        <!-- <i class="ti-angle-down" style="position: absolute;right: 25px;top: 25px;"></i> -->
                    </div>
                    <div>
                        <div class="content">
                            <div class="list-group">
                                <a href="#" v-show="tweets.length > 0" class="list-group-item list-group-item-action row" v-for="item in tweets">
                                    <b class="col-md-2" v-html="item.handle">
                                    </b>
                                    <span class="col-md-8" style="margin-left: 20px;" v-html="item.tweet"></span>
                                    <span class="badge">[[item.timestamp]]</span>
                                </a>
                                <p style="text-align: center;color: gray;" v-show="tweets.length === 0">
                                    No results found.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


{% endblock %}
