<!DOCTYPE html>
<html>

<head>
    <base href="/"></base>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <title>{% block title %}NoodleStocks {% endblock %}</title>
    <meta name="description" content="NoodleStock provides the latest stock market, financial and business news. Learn from other stock traders and get new ideas.">
    <meta name="keywords" content="stock, noodlestock, stock conversations, stock trends, financial trends, stocks, trade, trading, shares, financial forum, financial advice, financial conversation,  financial news, stock forum, stock advice, stock conversation, trending stock, latest stock,Live Stock Markets, Live Stock Price, Stock Trading news, Share Market, Views and Analysis on Equity and Stock Markets Tips, sensex, nifty, Commodity Market, personal finance, mutual funds, insurance, bank and loans.">
     <meta name="author" content="NoodleStock">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" />
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" sizes="32x32">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-v4.0.0-beta.2.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/font-awesome.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>

    {% block body %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script> -->
    <script type="text/javascript" src="{{url_for('static',filename='js/typeahead.js')}}"></script>
    <script>
       window.onload = function() {
            try{
                (adsbygoogle = window.adsbygoogle || []).push({});
            }
            catch(e){

            }
        }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26826257-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-26826257-6');
    </script>
</body>

</html>
