{% from "company/macros/_trending.html" import trending with context %}
{% from "company/macros/_watchlist.html" import watchlist as watchlist_macro with context %}
{% from "company/macros/_navbar.html" import navbar with context %}
{% from "company/macros/_commentform.html" import commentform with context %}
{% from "company/macros/_commentlist.html" import commentlist with context %}
{% extends "company/base.html" %}

{% block title %} {{ company.code }} - {{ company.name }}{% endblock %}

{% block body %}

{{ navbar() }}
<div class="container-fluid list-container">
    <div class="row m-0">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            {{ trending(trendings) }} {{ watchlist_macro(watchlist) }}
            <div class="col-12 left-side-box p-3">
                <div class="left-side-box-header clearfix">
                    <i class="fa fa-newspaper-o float-left" aria-hidden="true"></i>
                    <span class="float-left">Latest News</span>
                    <a class="float-right view-more">view more</a>
                </div>
                <hr class="m-2">
                <div class="d-flex row m-0">
                    <div class="list-group col-12 px-2">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start p-2 news-feed">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small>3 days ago</small>
                            </div>
                            <div class="list-thumbnail">
                                <img src="{{ url_for('static', filename='img/logo.png') }}">
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start p-2 news-feed">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <div class="list-thumbnail">
                                <img src="{{ url_for('static', filename='img/logo.png') }}">
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start p-2 news-feed">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <div class="list-thumbnail">
                                <img src="{{ url_for('static', filename='img/logo.png') }}">
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="middle-box col-12 p-3">
                <div class="company-header row m-0 ">
                    <!--<img src="{{ url_for('static', filename='img/logo.png') }}" width="60" height="60">-->
                    <img src="{{ company.logo }}" width="60" height="60">
                    <div class="company-n pl-2">
                        <h3>{{ company.name }}</h3>
                        <h6 class="pl-1">{{ company.code }}</h6>
                    </div>
                    <button class="btn btn-primary btn-sm my-auto ml-auto"><i class="fa fa-plus my-auto pr-1"></i> Watcher</button>
                </div>
                {% set stock = company.stock %} {% set stock_change = (stock.last|float - stock.close|float) %} {% set stock_change_percentage = (100 * (stock_change / stock.last|float))|round(2, 'floor') %} {% if stock.last|float
                < stock.close|float %} {% set s_class='red' %} {% set s_arrow='fa-arrow-down' %} {% else %} {% set s_class='green' %} {% set s_arrow='fa-arrow-up' %} {% endif %} <div class="company-stock-data row m-0 p-2">
                    <span class="mr-1">Live</span>
                    <!--<small class="mr-2 my-auto last-updated">{#{ company.stock.refreshedAt|timesince }#}</small>-->
                    <small class="mr-2 my-auto last-updated">{{ company.stock.refreshedAt.strftime('%a, %b %d %I:%M %p') }}</small>
                    <h5 class="{{ s_class }} m-0 pr-2">{{ company.stock.last }}</h5>
                    <span class="{{ s_class }} pr-2"><i class="fa {{ s_arrow }} {{ s_class }} pr-2"></i> {{ stock_change }}</span>
                    <span class="{{ s_class }} pr-2">({{ stock_change_percentage }}%)</span>
            </div>
            <div class="row m-0 p-2 fw-500">
                <div class="col-md-3 col-lg-3 col-xl-3 p-0 info-color">
                    <span class="col-6">Open Price :</span>
                    <span>{{ company.stock.open }}</span>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 p-0 green">
                    <span class="col-6">high Price :</span>
                    <span>{{ company.stock.high }}</span>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 p-0 red">
                    <span class="col-6">Low Price :</span>
                    <span>{{ company.stock.low }}</span>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 p-0">
                    <span class="col-6">Prev Close :</span>
                    <span>{{ company.stock.close }}</span>
                </div>
            </div>
            {{ commentform(company) }}
            <div class="row m-0 p-2 comment-list-section">
                <div class="row m-0">
                    {{ commentlist(company, company.comments.items) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="col-12 left-side-box p-3">
            <div class="left-side-box-header clearfix">
                <i class="fa fa-newspaper-o float-left" aria-hidden="true"></i>
                <span class="float-left">Latest News</span>
                <a class="float-right view-more">view more</a>
            </div>
            <hr class="m-2">
            <div class="d-flex row m-0">
                <div class="list-group col-12 px-2">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start p-2 news-feed">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <div class="list-thumbnail">
                            <img src="{{ url_for('static', filename='img/logo.png') }}">
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start p-2 news-feed">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <div class="list-thumbnail">
                            <img src="{{ url_for('static', filename='img/logo.png') }}">
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start p-2 news-feed">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <div class="list-thumbnail">
                            <img src="{{ url_for('static', filename='img/logo.png') }}">
                        </div>
                        <p class="mb-1">Done id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
