{% from "company/macros/_trending.html" import trending with context %}
{% from "company/macros/_watchlist.html" import watchlist as watchlist_macro with context %}
{% from "company/macros/_navbar.html" import navbar with context %}
{% from "company/macros/_pagination.html" import paginate with context %}
{% from "company/macros/_news.html" import latest_news with context %}
{% extends "company/base.html" %}

{% block body %}
    
    {{ navbar() }}

    <div class="container-fluid list-container">
        <div class="row m-0">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                {{ trending(trendings) }}
                {{ watchlist_macro(watchlist)}}
                <!-- <div class="ads-block col-12 p-0">
                    <ins class="adsbygoogle" style="display:block;width:100%;" data-ad-client="ca-pub-0503054612740442" data-ad-slot="2418973612" data-ad-format="auto" target="_newTab"></ins>
                </div> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="middle-box col-12 p-3">
                    <div class="list-group feed-list-group">
                        {% for company in paginator.items %}
                        <div class="m-list list-group-item stock-item clearfix" data-src="/companies/{{company.code}}/{{company.name}}">
                            {% set stock = company.stock %}
                            {% set stock_change = (stock.last|float - stock.close|float) %}
                            {% set stock_change_percentage = (100 * (stock_change / stock.last|float))|round(2, 'floor') %}
                            <div class="pull-left company-list {% if stock.last|float < stock.close|float %}border-list-red{% else %}border-list-green{% endif %}">
                                <div class="company-name">{{ company.name }}</div>
                                <div class="company-data">
                                    <span class="company-code">{{ company.code }}</span>
                                    <span class="current">{{ stock.close }}</span>
                                    {% if stock.last|float < stock.close|float %}
                                    <span class="up-down-arrow "><i class="fa fa-arrow-down red"></i></span>
                                    {% else %}
                                    <span class="up-down-arrow "><i class="fa fa-arrow-up green"></i></span>
                                    {% endif %}
                                    <span class="stock status">{{ stock_change }}
                                        &nbsp; ({{ stock_change_percentage }}%) &nbsp;</span>
                                </div>
                                <!-- <div class="updated-at">
                                    <small>Updated on {#{ company.refreshedAt.strftime('%a, %b %d, %Y %I:%M %p') }#}</small>
                                </div> -->
                            </div>
                            <div class="pull-right">
                                <!-- <div class="watchers"> -->
                                {% if not session['authenticate'] %}
                                <span style="font-size:12px;color:grey;">{{ company.watchlistcount }} follower</span>
                                    <i class="fa fa-star unactive-watcher" onclick="openLoginModal(event)" ></i>
                                {% else %}
                                    <span style="font-size:12px;color:grey;">{{ company.watchlistcount }} follower</span>
                                    {% if company not in watchlist %}
                                    <a href="{{ url_for('home.watch_company', company_id=company.id, referer=request.url) }}" title="Add to watchlist">
                                        <!-- <button type="button" class="btn btn-sm btn-primary pull-right">Watch</button> -->
                                        <i class="fa fa-star unactive-watcher"></i>
                                    </a>
                                    {% else %}
                                    <a href="{{ url_for('home.unwatch_company', company_id=company.id, referer=request.url) }}" title="Remove from watchlist">
                                        <!-- <button type="button" class="btn btn-sm btn-danger pull-right">Remove Watch</button> -->
                                        <i class="fa fa-star active-watcher"></i>
                                    </a>
                                    {% endif %}
                                {% endif %}    
                            </div>
                        </div>
                        {% endfor %}
                        {{ paginate(paginator) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div class="col-12 left-side-box p-3">
                    <div class="left-side-box-header clearfix">
                        <i class="fa fa-newspaper-o float-left" aria-hidden="true"></i>
                        <span class="float-left">Latest News</span>
                        <a class="float-right view-more">view more</a>
                    </div>
                    <hr class="m-2">
                    <div class="d-flex row m-0">
                        {{ latest_news(news_list) }}
                    </div>
                </div>
                <div class="ads-block col-12 p-0">
                    <ins class="adsbygoogle" style="display:block;width:100%;" data-ad-client="ca-pub-0503054612740442" data-ad-slot="2418973612" data-ad-format="auto" target="_newTab"></ins>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
